<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
    <!-- MathJax -->
    <script>
      MathJax = {
          jax: ["input/TeX","output/CommonHTML"],
          extensions: ["tex2jax.js", "asciimath2jax.js", "mml2jax.js", "MathMenu.js", "MathZoom.js"],
          TeX: {
            extensions: ["AMSmath.js", "AMSsymbols.js", "autoload-all.js"]
          },
          tex2jax: {
            inlineMath: [
              ['$', '$'],
              ["\\(", "\\)"]
            ],
            processEscapes: true
          },
          showProcessingMessages: false,
          messageStyle: "none",
          menuSettings: { zoom: "Click" },
          AuthorInit: function() {
            MathJax.Hub.Register.StartupHook("End", function() {
                    var timeout = false, // holder for timeout id
                    delay = 250; // delay after event is "complete" to run callback
                    var shrinkMath = function() {
                      var dispFormulas = document.getElementsByClassName("formula");
                      if (dispFormulas){
                        // caculate relative size of indentation
                        var contentTest = document.getElementsByTagName("body")[0];
                        var nodesWidth = contentTest.offsetWidth;
                        // if you have indentation
                        var mathIndent = MathJax.Hub.config.displayIndent; //assuming px's
                        var mathIndentValue = mathIndent.substring(0,mathIndent.length - 2);
                        for (var i=0; i<dispFormulas.length; i++){
                          var dispFormula = dispFormulas[i];
                          var wrapper = dispFormula.getElementsByClassName("MathJax_Preview")[0].nextSibling;
                          var child = wrapper.firstChild;
                          wrapper.style.transformOrigin = "center"; //or top-left if you left-align your equations
                          var oldScale = child.style.transform;
                          var newValue = Math.min(0.80*dispFormula.offsetWidth / child.offsetWidth,1.0).toFixed(2);
                          var newScale = "scale(" + newValue + ")";
                          if(!(newScale === oldScale)){
                            wrapper.style.transform = newScale;
                            wrapper.style["margin-left"]= Math.pow(newValue,4)*mathIndentValue + "px";
                            var wrapperStyle = window.getComputedStyle(wrapper);
                            var wrapperHeight = parseFloat(wrapperStyle.height);
                            wrapper.style.height = "" + (wrapperHeight * newValue) + "px";
                            if(newValue === "1.00"){
                              wrapper.style.cursor = "";
                              wrapper.style.height = "";
                            }
                            else {
                              wrapper.style.cursor = "zoom-in";
                            }
                          }

                        }
                    }
                    };
                    shrinkMath();
                    window.addEventListener('resize', function() {
                      clearTimeout(timeout);
                      timeout = setTimeout(shrinkMath, delay);
                    });
                  });
          }
        };
    </script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script type="text/javascript" id="MathJax-script" async
        src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
    </script>
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.publication }}</h2>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      {% if site.github.is_project_page %}
      <a href="{{ site.arxiv_url }}" class="btn">Paper</a>
      <a href="{{ site.github.repository_url }}" class="btn">Code</a>
      {% endif %}
      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %}
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner">Trung Trinh · Markus Heinonen · Luigi Acerbi · Samuel Kaski • 2022</span>
        {% endif %}
      </footer>
    </main>
  </body>
</html>